.App {
  width: calc(3 * 64px);
  display: grid;
  gap: 8px;
  grid-template-rows: 140px auto;
  margin: 24px auto;
}

.Screen {
  margin-bottom: 5%;
}

@keyframes cursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
  100% {
    border-color: transparent;
  }
}
