.keypad-card {
  -webkit-box-shadow: 0px 0px 9px 0px #000000;
  box-shadow: 0px 0px 9px 0px #000000;
  width: 18rem;
}

.keypad {
  width: 300px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.phoneword-results {
  align-content: center;
}

@keyframes cursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
  100% {
    border-color: transparent;
  }
}
